html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.App {
  text-align: center;
}

body {
  cursor: url('../src/cursordefault.png'), auto;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.emailInputContainer {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 40%;
  bottom: calc(20px + env(safe-area-inset-bottom, 0px));
  z-index: 100;
}

/* For small screens */
@media screen and (max-width: 799px) {
  .emailInputContainer {
    width: 90%;
    bottom: calc(20px + env(safe-area-inset-bottom, 0px));
  }
}
