.email-input-wrapper {
  display: flex;
  align-items: center;
  border: 2px solid #fff;
  border-radius: 0;
  overflow: hidden;
  background-color: #2e2e2e;
  height: 48px;
  width: 100%;
}

.email-input {
  flex: 1;
  background: transparent;
  border: none;
  padding: 12px 16px;
  font-size: 16px;
  outline: none;
  font-family: Inter, sans-serif;
  font-weight: 400;
  color: #999999;
  transition: color 0.3s ease;
}

.email-input:focus {
  color: #ffffff;
}

/* обычный placeholder */
.email-input::placeholder {
  color: #999999;
  transition: color 0.3s ease;
}

/* placeholder и текст при ошибке */
.email-input.error {
  color: #FF6161;
}
.email-input.error::placeholder {
  color: #FF6161;
}

.divider {
  width: 2px;
  background-color: #fff;
  height: 70%;
}

.send-button {
  background-image: url('../src/ButtonDefault.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 72px;
  height: 100%;
  border: none;
  cursor: url('../src/cursorhover.png'), pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  user-select: none;
}

.send-button:hover:not(.loading):not(.clicked) {
  background-image: url('../src/ButtonFocused.svg');
}

.send-button.clicked {
  background-image: url('../src/ButtonClicked.svg');
  cursor: url('../src/cursorhover.png'), pointer;
}

.send-icon {
  width: 100%;
  height: 100%;
}

.send-button.loading {
  background: transparent;
  cursor: wait;
}

.spinner {
  width: 48px;
  height: 48px;
  background-image: url('../src/spinner.svg');
  background-size: contain;
  background-repeat: no-repeat;
  animation: spin 2s linear infinite;
  user-select: none;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
