.control-button {
    position: absolute;
    background-color: transparent;
    background-image: url('https://raw.githubusercontent.com/souvlakiGirl013/sanddunes/f8ff87197887705ab6ae2d0a7c6933f6d3cc714e/Type%3DSwitch.svg');
    background-size: contain;
    background-repeat: no-repeat;
    border: none; 
    width: 32px;
    height: 32px;
    transition: transform 0.2s ease, opacity 0.2s ease;
    cursor: url('../src/cursorhover.png'), pointer;
    z-index: 10;
  }
  
  .control-button:hover {
    transform: rotate(15deg) scale(1.1);
    cursor: url('../src/cursorhover.png'), pointer;
  }
  
  .control-button:active {
    transform: scale(0.9);
    opacity: 0.5;
    cursor: url('../src/cursorhover.png'), pointer;
  }

  .control-button-wrapper:hover .control-button {
    transform: rotate(15deg) scale(1.1);
    cursor: url('../src/cursorhover.png'), pointer;
  }
  
  .control-button-wrapper:active .control-button {
    transform: scale(0.9);
    opacity: 0.5;
    cursor: url('../src/cursorhover.png'), pointer;
  }