.randomize-button {
    width: 56px;
    height: 56px;
    transition: transform 0.2s ease, opacity 0.2s ease;
  }
  
  .randomize-button:hover {
    transform: rotate(15deg) scale(1.1);
    cursor: url('../src/cursorhover.png'), pointer;
  }
  
  .randomize-button:active {
    transform: scale(0.9);
    opacity: 0.5;
    cursor: url('../src/cursorhover.png'), pointer;
  }

  .control-button-wrapper:hover .control-button {
    transform: rotate(15deg) scale(1.1);
    cursor: url('../src/cursorhover.png'), pointer;
  }
  
  .control-button-wrapper:active .control-button {
    transform: scale(0.9);
    opacity: 0.5;
    cursor: url('../src/cursorhover.png'), pointer;
  }